body {
    font-family: 'Helvetica Neue', sans-serif;
    text-align: center;
    margin-top: 50px;
    color: #000000;
    background: #3a6186;  
    background: -webkit-linear-gradient(to right, #89253e, #3a6186);  
    background: linear-gradient(to right, #89253e, #3a6186); 
    height: 100vh;
}

header {
    padding: 20px 0;
}

.logo {
    width: 150px;
}

main {
    margin-top: 0px;
    padding: 5px;
}

h1 {
    font-size: 2.5em;
    color: #fff;
}

/* FILTROS DE GÉNERO */
.selected-genres-container {
    margin-bottom: 15px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.selected-genre {
    background-color: #f0f0f0;
    border-radius: 15px;
    padding: 5px 10px;
    font-size: 0.9em;
    display: flex;
    align-items: center;
}

.selected-genre .remove-genre {
    margin-left: 8px;
    cursor: pointer;
    font-weight: bold;
}

/* BARRA DE BÚSQUEDA */
.search-container {
    margin: 20px auto;
}

#search-bar {
    width: 80%; 
    padding: 10px;
    color: #ccc;
    background-color: #353b48;
    font-size: 1.2em;
    border: 1px solid #353b48;
    border-radius: 5px;
}

/* BOTÓN DE BÚSQUEDA POR GENERO */
#open-modal {
    padding: 10px 20px;
    background-color: #353b48;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
    transition: background-color 0.3s ease;
}

#open-modal:hover {
    background-color: #6A3ED9;
}

/* EMERGENTE */
.modal {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: #3a6186;  
    background: -webkit-linear-gradient(to right, #89253e, #3a6186);  
    background: linear-gradient(to right, #89253e, #3a6186);
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 500px;
}

.close {
    float: right;
    font-size: 1.5em;
    cursor: pointer;
}

.genre-list {
    margin: 20px 0;
}

.genre-list label {
    display: block;
    margin-bottom: 10px;
    font-size: 1.2em;
}

#apply-genre-filter {
    padding: 10px 20px;
    background-color: #353b48;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#apply-genre-filter:hover {
    background-color: #6A3ED9;
}


/* GRID DE ÁLBUMES */
.catalog-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 10px;
}

.album-item {
    color: #ccc;
    background-color: #353b48;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 140px; 
    height: 350px; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.album-cover {
    width: 100%;
    height: 150px; 
    object-fit: cover; 
    border-radius: 5px;
}

.genre-tags {
    display: none;
}

h2 {
    font-size: 1.1em;
    margin: 10px 0 5px;
    text-align: center;
    overflow: hidden;
    overflow-wrap: normal;
    white-space: wrap; 
}

p {
    margin: 5px 0;
    color: #666;
    font-size: 0.9em;
}
footer {
    margin-top: 50px;
}

footer a {
    color: #784AF0;
    text-decoration: none;
    font-size: 1.2em;
}

footer a:hover {
    text-decoration: underline;
}

/* ORDENAMIENTO */
.sort-container {
    margin: 20px 0;
}

.sort-container select {
    background-color: #353b48;
    padding: 10px;
    font-size: 1.1em;
    border: 1px solid #ccc;
    border-radius: 5px;
}

