/* Estilos globales */
body {
    font-family: "Montserrat", serif;
    text-align: center;
    margin-top: 30px;
    color: #fff;
    background-color: #305ba0; 
    background-image: url('resources/fondo.webp');
    background-size: contain;
    background-repeat: repeat; 
    background-blend-mode: screen; 
    height: 100vh;
    font-optical-sizing: auto;
    font-weight: 600;
}

a {
    color: rgb(51, 51, 150);
    text-decoration: none;
}

/* Logo */
.logo {
    width: 150px;
    height: auto;
    background-color: #4a67a4;
    border-radius: 30px;
    filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.5)); 
}

.menupng {
    width: 95%;
    height: auto;
}

.menupngtemp {
    width: 95%;
    height: auto;
    margin-top: 50px;
}

/* Título de la página */
h1 {
    font-size: 2.5em;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: auto;
    color: #fff;
    background-color: #4a67a4;
    border-radius: 10px;
}
h2 {    
    background-color: #4a67a4;
    border-radius: 20px;
}

/* Contenedor de eventos */
.events-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 20px;
}

/* Tarjeta de evento */
.event-link {
    text-decoration: none;
    color: inherit;
}

/* Tarjeta clicable con efecto hover */
.event-card {
    background-color: rgba(249, 246, 238, 0.8);
    border-radius: 15px;
    padding: 15px;
    width: 90%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    color: #353935;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-decoration: none;
}

.event-card:hover {
    transform: translateY(-10px);
    box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.2);
}

/* Sección de fecha del evento */
.event-date {
    background-color: #fff;
    color: #333;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    text-decoration: none;
}

.event-date h2 {
    font-size: 1.5em;
    margin: 0;
    text-decoration: none;
}

/* Contenido del evento (foto + descripción) */
.event-content {
    display: flex;
    align-items: center;
    text-decoration: none;
}

/* Foto del evento */
.event-photo {
    width: 140px;
    height: 140px;
    border-radius: 10px;
    object-fit: cover;
    margin-right: 15px;
}

/* Información del evento */
.event-info h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #353935;
    text-decoration: none;
}

.event-info p {
    font-size: 1em;
    color: #353935;
    text-decoration: none;
}

/* Botón de acción */
button {
    display: block;
    width: 250px;
    margin: 20px auto;
    padding: 15px;
    background-color: #F9F6EE;
    color: #353935;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

button:hover {
    background-color: #173b7c;
    color: #F9F6EE;
    transform: translateY(-5px);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
}

button:active {
    transform: translateY(0);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}

/* Ajustes responsivos */
@media (max-width: 600px) {
    .event-card {
        flex-direction: column;
        align-items: center;
    }

    .event-content {
        flex-direction: column;
        align-items: center;
    }

    .event-photo {
        margin-right: 0;
        margin-bottom: 10px;
    }
}

/* Sección de contacto para eventos */
.contact-event {
    margin: 40px auto;
    text-align: center;
    color: #fff;
}

.contact-event h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

.contact-event p {
    font-size: 1.2em;
    margin-bottom: 20px;
    color: #f9f6ee;
}

/* Estilo del botón de WhatsApp */
.whatsapp-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #25D366;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}

.whatsapp-btn:hover {
    background-color: #128C7E;
}

.whatsapp-btn:active {
    background-color: #0a604f;
}

.whatsapp-logo {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

/* Estilo para la sección de instrucciones */
.cupon-instructions {
    text-align: left; /* Alineación para una mejor lectura */
    color: #fff;
    margin: 10px;
    font-size: 1.2em;
}

.cupon-instructions h2 {
    font-size: 2.5em;
    margin-top: -20px;
    text-align: center;
}

.cupon-instructions p {
    margin-bottom: 15px;
    line-height: 1.6;
}

.cupon-instructions ol {
    font-size:  medium;
    margin-left: 20px;
    padding-left: 20px;
}

.cupon-instructions ol li {
    margin-bottom: 10px;
    list-style-type: decimal;
}
.cupon-instructions p strong {
    font-size: small;
    color: #ffcc00; /* Color amarillo dorado para resaltar */
    font-size: .8em; /* Tamaño ligeramente más grande */
}



/* Contenedor del mapa */
.map-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}
/* Contenedor del mapa con bordes redondeados */
.map-container iframe {
    border-radius: 25px; 
    overflow: hidden; 
    border: none; 
}

/* Pop-up styles */
.popup {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.popup img {
    max-width: 90%;
    max-height: 90%;
    border-radius: 10px;
}

.popup.visible {
    opacity: 1;
    visibility: visible;
}

.popup .close-popup {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 2em;
    color: white;
    cursor: pointer;
    background: transparent;
    border: none;
}


@media (min-width: 700px) {
  body{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
    height: auto;
  }
  h1{
    max-width: 600px;     /* controla el ancho */
    margin: 40px auto 40px auto; /* centrado horizontal + espacio vertical */
    padding: 10px 20px 10px;
  }
  h2{
    min-width: 500px;
    padding: 10px 0px 10px 0px;
  }

  img {
    max-width: 800px;
  }
}