body {
    font-family: "Playfair Display", serif;
    text-align: center;
    margin-top: 50px;
    color: #fff;
    background-color: #173b7c; 
    background-image: url('resources/noisy.png');
    background-size: contain;
    background-repeat: repeat; 
    background-blend-mode: screen; 
    height: 100vh;
    font-optical-sizing: auto;
    font-weight: 800;
}

.logo {
    width: 150px;
    height: auto;
    filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.5)); 
}


button {
    display: block;
    width: 250px;
    margin: 20px auto;
    padding: 15px;
    background-color: #F9F6EE;
    color: #353935;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

button:hover {
    background-color: #173b7c;
    color: #F9F6EE;
    transform: translateY(-5px);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
}

button:active {
    transform: translateY(0);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}

.instagram-btn {
    background-color: #F9F6EE;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 20px;
}

.instagram-btn img {
    width: 20px;
    height: 20px;
}

.instagram-logo {
    vertical-align: middle;
}
